body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.cover {
  background-color: #cccccc;
  overflow: hidden;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.cover .RoundedRec {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 82%;
  left: 51%;
  width: 190px;
  height: 50px;
  border-radius: 3px;
  background-color: #ff6d6d;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 50px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Exo";
  text-align: center;
}

.cover .headerText {
  width: 750px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: 268px;
  font-size: 60px;
  letter-spacing: 2px;
  line-height: 75px;
  color: #282828;
  font-weight: 0;
  opacity: 0.9;
  font-family: "Exo";
  text-align: center;
  top: 53%;
  left: 51%;
}

.cover .underText {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 750px;
  height: 268px;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 75px;
  color: #282828;
  font-weight: 400;
  font-family: "Exo";
  text-align: center;
  top: 105%;
  left: 51%;
}

.cover .play {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  top: 68%;
  left: 51%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 29px;
  background-color: #a09e9e;
  border: 2px;
  text-align: center;
  font-size: 30px;
}

.section2 {
  height: 83vh;
  overflow-y: hidden;
  overflow-x: hidden;
  margin-bottom: 0px;
}

.section2 .section2Photo {
  float: right;
  width: 40%;
}

.section2 .section2Desc {
  float: left;
  width: 35%;
  padding: 30px;
  margin-left: 70px;
  margin-top: 30px;
}

.section2 .section2Desc .newDesign {
  width: 526px;
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 50px;
  color: #ff6d6d;
  font-weight: 500;
  font-family: "Exo";
}

.section2 .section2Desc .thereIs {
  width: 545px;
  font-size: 40px;
  letter-spacing: 2px;
  line-height: 50px;
  color: #282828;
  font-weight: 500;
  font-family: "Exo";
}

.section2 .section2Desc .paragraph {
  width: 581px;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 26px;
  color: #282828;
  font-weight: 500;
  font-family: "Exo";
}

.section3 {
  height: 70vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.section3 .mac {
  float: left;
  width: 40%;
}

.section3 .section3Desc {
  float: right;
  width: 35%;
  margin: 100px;
}

.section3 .section3Desc .newDesign {
  width: 526px;
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 50px;
  color: #ff6d6d;
  font-weight: 500;
  font-family: "Exo";
}

.section3 .section3Desc .responsive {
  width: 526px;
  font-size: 40px;
  letter-spacing: 2px;
  line-height: 50px;
  color: #282828;
  font-weight: 500;
  font-family: "Exo";
}

.section3 .section3Desc .section3Desc {
  width: 370px;
  font-size: 16px;
  letter-spacing: 2px;
  margin-top: 27px;
  line-height: 20px;
  color: #282828;
  font-weight: 500;
  font-family: "Exo";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section4 {
  overflow-y: hidden;
  overflow-x: hidden;
  background-size: cover;
  background-color: #f6f5f3;
}

.section4 .avatar {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  list-style: none;
  left: 43%;
  width: 100%;
  height: 1100px;
  margin-top: 0;
  text-align: center;
  line-height: 5px;
  padding-left: 140px;
  overflow: hidden;
}

.section4 .avatar li {
  display: inline-block;
  padding-left: 50px;
}

.section4 .avatar h2 {
  color: white;
}

.section4 .avatar h6 {
  color: #e27878;
}

.section4 .avatar p {
  width: 331px;
  height: 174px;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 26px;
  color: #ecdcdc8f;
  font-style: italic;
  font-family: "Exo";
  text-align: center;
}

.section4 .partnerLogo {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  list-style: none;
  left: 54%;
  width: 100%;
  height: 400px;
  margin-top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section4 .partnerLogo li {
  display: inline;
  padding-left: 110px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.section5 {
  width: 100%;
  height: 100%;
  background-color: #f6f5f3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.section5 .section5-content {
  height: 705px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 0px;
  padding-top: 80px;
  font-size: 40px;
  letter-spacing: 3px;
  line-height: 0px;
  font-family: "Exo";
}

.section5 .section5-content h4 {
  margin-top: 0px;
  padding-top: 70px;
  font-size: 16px;
  letter-spacing: 3px;
  color: #ff6d6d;
  font-weight: 500;
  font-family: "Exo";
  text-align: center;
}

.section5 .section5-content h6 {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 26px;
  color: #282828;
  font-weight: 500;
  font-family: "Exo";
  max-width: 51%;
  margin-left: 350px;
}

.section6 {
  background-color: #323969;
  width: 100%;
  height: 100%;
}

.section6 .section6Content {
  line-height: 0px;
  padding-top: 60px;
  height: 60vh;
  overflow: hidden;
}

.section6 .section6Content h4 {
  font-size: 16px;
  letter-spacing: 3px;
  color: #ff6d6d;
  font-weight: 500;
  font-family: "Exo";
  text-align: center;
}

.section6 .section6Content h3 {
  font-size: 40px;
  letter-spacing: 2px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Exo";
  text-align: center;
}

.section6 .section6Content .days30 {
  float: right;
  padding-right: 140px;
  padding-top: 30px;
}

.section6 .section6Content ul {
  padding-top: 90px;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section6 .section6Content ul li {
  display: inline;
  padding-left: 40px;
}

.section6 .section6Content ul li input {
  width: 258px;
  height: 49px;
  border-radius: 3px;
  background-color: rgba(246, 245, 243, 0.2);
  border: 1px solid #745a5a;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 75px;
  color: #f6f5f3;
  font-weight: 400;
  font-family: "Exo";
}

.section6 .section6Content ul li button {
  width: 258px;
  height: 50px;
  border-radius: 3px;
  -webkit-filter: drop-shadow(0px 3px 1.5px rgba(14, 15, 15, 0.25));
          filter: drop-shadow(0px 3px 1.5px rgba(14, 15, 15, 0.25));
  background-color: #ff6d6d;
  border: 1px solid #ff6d6d;
  font-size: 15px;
  line-height: 57px;
  color: #f6f5f3;
  font-weight: 400;
  font-family: "Exo";
}

.section6 ::-webkit-input-placeholder {
  color: white;
  opacity: 1;
  /* Firefox */
  padding-left: 10px;
}

.section6 :-ms-input-placeholder {
  color: white;
  opacity: 1;
  /* Firefox */
  padding-left: 10px;
}

.section6 ::-ms-input-placeholder {
  color: white;
  opacity: 1;
  /* Firefox */
  padding-left: 10px;
}

.section6 ::placeholder {
  color: white;
  opacity: 1;
  /* Firefox */
  padding-left: 10px;
}

.section7 {
  overflow-y: hidden;
  overflow-x: hidden;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.section7 .footer {
  list-style: none;
  overflow: hidden;
  margin: 50px;
  padding-left: 50px;
  height: 100%;
}

.section7 .footer li {
  display: inline-block;
  width: 260px;
}

.section7 .footer li .social {
  padding-top: 10px;
  padding-left: 20px;
}

.section7 .footer h2 {
  color: black;
}

.section7 .footer h4 {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 15px;
  color: #282828;
  font-weight: 400;
  font-family: "Exo";
}

.section7 .footer input {
  width: 263px;
  height: 49px;
  border-radius: 3px;
  background-color: rgba(141, 141, 141, 0.2);
  border: 1px solid #4e4e5e;
}

.section7 .footer p {
  width: 150px;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 26px;
  color: #282828;
  font-weight: 500;
  font-family: "Exo";
}

.section7 .footer ::-webkit-input-placeholder {
  color: #797979;
  opacity: 1;
  /* Firefox */
  padding-left: 10px;
}

.section7 .footer :-ms-input-placeholder {
  color: #797979;
  opacity: 1;
  /* Firefox */
  padding-left: 10px;
}

.section7 .footer ::-ms-input-placeholder {
  color: #797979;
  opacity: 1;
  /* Firefox */
  padding-left: 10px;
}

.section7 .footer ::placeholder {
  color: #797979;
  opacity: 1;
  /* Firefox */
  padding-left: 10px;
}
/*# sourceMappingURL=App.css.map */