body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: flex;
}
.cover {
  background-color: #cccccc;
  overflow: hidden;
  background-size: cover;
  width: 100%;
  height: 100%;
  img {
    max-width: 100%;
  }
  .RoundedRec {
    align-items: center;
    top: 82%;
    left: 51%;
    width: 190px;
    height: 50px;
    border-radius: 3px;
    background-color: #ff6d6d;
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 16px;
    letter-spacing: 3px;
    line-height: 50px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Exo";
    text-align: center;
  }
  .headerText {
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    height: 268px;
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 75px;
    color: #6b6b6b;
    text-align: center;
    top: 53%;
    left: 51%;
    font-weight: 0;
  }
  .underText {
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 750px;
    height: 268px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 75px;
    color: #282828;
    font-weight: 400;
    font-family: "Exo";
    text-align: center;
    top: 105%;
    left: 51%;
  }
  .play {
    width: 60px;
    height: 60px;
    top: 68%;
    left: 51%;
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border-radius: 29px;
    border: 2px;
    text-align: center;
    font-size: 30px;
  }
}
.section2 {
  overflow-y: hidden;
  overflow-x: hidden;
  margin-bottom: 0px;
  width: 100%;
  .section2Photo {
    float: right;
    width: 45%;
    img {
      max-width: 100%;
    }
  }
  .section2Desc {
    float: left;
    width: 35%;
    padding: 30px;
    margin-left: 100px;
    margin-top: 135px;

    .newDesign {
      width: 526px;
      font-size: 16px;
      letter-spacing: 3px;
      line-height: 50px;
      color: #ff6d6d;
      font-weight: 500;
      font-family: "Exo";
    }
    .thereIs {
      width: 545px;
      font-size: 40px;
      letter-spacing: 2px;
      line-height: 50px;
      color: #282828;
      font-weight: 500;
      font-family: "Exo";
    }
    .paragraph {
      width: 581px;
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 26px;
      color: #282828;
      font-weight: 500;
      font-family: "Exo";
      padding-top: 50px;
    }
  }
}
.section3 {
  height: 95vh;
  overflow-y: hidden;
  overflow-x: hidden;
  .mac {
    float: left;
    width: 40%;
  }
  .section3Desc {
    float: right;
    width: 40%;
    margin: 100px;
    padding-top: 100px;
    padding-right: 20px;

    .newDesign {
      width: 526px;
      font-size: 16px;
      letter-spacing: 3px;
      line-height: 50px;
      color: #ff6d6d;
      font-weight: 500;
      font-family: "Exo";
    }
    .responsive {
      width: 526px;
      font-size: 40px;
      letter-spacing: 2px;
      line-height: 50px;
      color: #282828;
      font-weight: 500;
      font-family: "Exo";
    }
    .Desc3 {
      width: 370px;
      font-size: 16px;
      letter-spacing: 2px;
      margin-top: 0px;
      line-height: 20px;
      color: #282828;
      font-weight: 500;
      font-family: "Exo";
      display: flex;
    }
  }
}
.section4 {
  overflow-y: hidden;
  overflow-x: hidden;
  background-size: cover;
  background-color: #f6f5f3;
  .image {
    display: flexbox;
    height: 100%;
  }
  .avatar {
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    list-style: none;
    left: 43%;
    width: 100%;
    height: 1100px;
    margin-top: 0;
    text-align: center;
    line-height: 5px;
    padding-left: 140px;
    overflow: hidden;
    li {
      display: inline-block;
      padding-left: 50px;
    }
    h2 {
      color: white;
    }
    h6 {
      color: rgb(226, 120, 120);
    }
    p {
      width: 331px;
      height: 174px;
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 26px;
      color: #ffffffa6;
      font-style: italic;
      font-family: "Exo";
      text-align: center;
    }
  }
  .partnerLogo {
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    list-style: none;
    left: 54%;
    width: 100%;
    height: 400px;
    margin-top: 0;
    align-items: center;

    li {
      display: inline;
      padding-left: 110px;
      overflow-y: hidden;
      overflow-x: hidden;
    }
  }
}
.section5 {
  width: 100%;
  height: 100%;
  background-color: #f6f5f3;
  justify-content: center;
  text-align: center;
  .section5-content {
    justify-content: center;
    text-align: center;
    padding-top: 80px;
    font-size: 40px;
    letter-spacing: 3px;
    line-height: 0px;
    font-family: "Exo";
    padding-right: 80px;
    h4 {
      margin-top: 0px;
      padding-top: 70px;
      font-size: 16px;
      letter-spacing: 3px;
      color: #ff6d6d;
      font-weight: 500;
      font-family: "Exo";
      text-align: center;
    }
    h3 {
      margin-top: 0px;
      padding-top: 30px;
      font-size: 30px;
    }
    h6 {
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 26px;
      color: #282828;
      font-weight: 500;
      font-family: "Exo";
      max-width: 51%;
      margin-left: 350px;
    }
  }
}
.section6 {
  background-color: #323969;
  width: 100%;
  height: 100%;
  .section6Content {
    line-height: 0px;
    padding-top: 60px;
    height: 60vh;
    overflow: hidden;
    justify-content: center;
    h4 {
      font-size: 16px;
      letter-spacing: 3px;
      color: #ff6d6d;
      font-weight: 500;
      font-family: "Exo";
      text-align: center;
    }
    h3 {
      font-size: 40px;
      letter-spacing: 2px;
      color: #ffffff;
      font-weight: 500;
      font-family: "Exo";
      text-align: center;
    }
    .days30 {
      float: right;
      padding-right: 250px;
      padding-top: 30px;
    }

    ul {
      padding-top: 90px;
      list-style: none;
      align-items: center;
      li {
        display: inline;
        padding-left: 40px;
        input {
          width: 258px;
          height: 49px;
          border-radius: 3px;
          background-color: rgba(246, 245, 243, 0.2);
          border: 1px solid #323969;
          font-size: 16px;
          letter-spacing: 1px;
          line-height: 75px;
          color: #f6f5f3;
          font-weight: 400;
          font-family: "Exo";
        }
        button {
          width: 258px;
          height: 50px;
          border-radius: 3px;
          filter: drop-shadow(0px 3px 1.5px rgba(14, 15, 15, 0.25));
          background-color: #ff6d6d;
          border: 1px solid #ff6d6d;
          font-size: 15px;
          line-height: 57px;
          color: #f6f5f3;
          font-weight: 400;
          font-family: "Exo";
        }
      }
    }
  }
  ::placeholder {
    color: white;
    opacity: 1; /* Firefox */
    padding-left: 10px;
  }
}
.section7 {
  overflow-y: hidden;
  overflow-x: hidden;
  background-size: cover;
  width: 100%;
  height: 100%;
  .footer {
    list-style: none;
    overflow: hidden;
    margin: 50px;
    padding-left: 50px;
    height: 100%;
    li {
      display: inline-block;
      width: 260px;
      .social {
        padding-top: 10px;
        padding-left: 20px;
      }

      input[type="text"] {
        width: 200px;
        height: 50px;
        padding-right: 50px;
        border-radius: 3px;
        border: none;
        background-color: rgba(141, 141, 141, 0.2);
      }

      input[type="image"] {
        margin-left: -50px;
        margin-bottom: -23px;
        margin-top: 1rem;
        width: 52px;
        height: 50px;
        border-radius: 3px;
        filter: drop-shadow(0px 3px 1.5px rgba(14, 15, 15, 0.25));
        background-color: #ff6d6d;
        border: 1px solid #ff6d6d;
        -webkit-appearance: none;
      }
    }
    h2 {
      color: rgb(0, 0, 0);
    }
    h4 {
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 15px;
      color: #282828;
      font-weight: 400;
      font-family: "Exo";
    }

    p {
      width: 150px;
      font-size: 14px;
      letter-spacing: 0.5px;
      line-height: 26px;
      color: #282828;
      font-weight: 500;
      font-family: "Exo";
    }
    ::placeholder {
      color: rgb(121, 121, 121);
      opacity: 1; /* Firefox */
      padding-left: 10px;
    }
  }
}

@media all and (max-width: 800px) {
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 100%;
    height: 100%;
    display: block;
  }
  .cover {
    height: 100%;
    max-width: 100%;
    .RoundedRec {
      top: 30%;
    }
    .headerText {
      width: 80%;
      top: 15%;
    }
    .underText {
      top: 120%;
      top: 44%;
    }
    .play {
      top: 22%;
    }
  }
  .section2 {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-bottom: 0px;
    .section2Photo {
      width: 0%;
      display: none;
    }
    .section2Desc {
      float: left;
      width: 97%;
      padding: 10px;
      margin-left: 0px;
      margin-top: 30px;

      .newDesign {
        width: 100%;
      }
      .thereIs {
        width: 100%;
      }
      .paragraph {
        width: 100%;
      }
    }
  }
  .section3 {
    height: 100%;
    width: 100%;

    margin: 0px;
    padding: 0px;
    .mac {
      float: none;
      width: 100%;
    }
    .section3Desc {
      float: none;
      width: 95%;
      margin: 0px;
      padding: 10px;

      .newDesign {
        width: 100%;
      }
      .responsive {
        width: 100%;
        padding: 0;
      }
      .section3Desc {
        width: 100%;
      }
    }
  }
  .section4 {
    overflow-y: hidden;
    overflow-x: hidden;
    background-size: cover;
    background-color: #f6f5f3;

    .image {
      img {
        max-width: 100%;
        height: 65vh;
      }
    }
    .avatar {
      position: absolute;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      list-style: none;
      left: 43%;
      width: 100%;
      height: 1200px;
      margin-top: 0;
      text-align: center;
      line-height: 5px;
      padding-left: 50px;
      overflow: hidden;
      li {
        padding-left: 50px;
      }

      p {
        width: 170px;
      }
    }
    .partnerLogo {
      position: absolute;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      list-style: none;
      left: 54%;
      max-width: 85%;
      height: 320px;
      margin-top: 0;
      align-items: center;

      li {
        display: inline-block;
        padding-left: 10px;
      }
    }
  }
  .section5 {
    width: 100%;

    .section5-content {
      height: 100%;
      max-width: 100%;
      padding-left: 80px;

      img,
      h4 {
        width: 100%;
        height: 100%;
        padding-top: 0;
      }

      h6 {
        width: 100%;
        height: 100%;
        margin-left: 160px;
      }
    }
  }
  .section6 {
    width: 100%;
    height: 100%;
    .section6Content {
      height: 100%;
      width: 100%;

      h3 {
        width: 100%;
        font-size: 20px;
      }
      .days30 {
        float: right;
        padding-right: 120px;
        padding-top: 30px;
      }

      ul {
        padding-top: 90px;
        list-style: none;
        align-items: center;
        li {
          padding-bottom: 20px;
          display: inline;
          padding-left: 50px;
          padding-bottom: 50px;

          button {
            width: 265px;
          }
        }
      }
    }
  }
  .section7 {
    overflow-y: hidden;
    overflow-x: hidden;
    background-size: cover;
    width: 100%;
    height: 100%;
    .footer {
      list-style: none;
      overflow: hidden;
      margin: 50px;
      padding-left: 50px;
      height: 100%;
      li {
        display: inline-block;
        width: 260px;
        .social {
          padding-top: 10px;
          padding-left: 20px;
        }
      }
      h2 {
        color: rgb(0, 0, 0);
      }
      h4 {
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 15px;
        color: #282828;
        font-weight: 400;
        font-family: "Exo";
      }
      input {
        width: 263px;
        height: 49px;
        border-radius: 3px;
        background-color: rgba(141, 141, 141, 0.2);
        border: 1px solid #4e4e5e;
      }
      p {
        width: 150px;
        font-size: 14px;
        letter-spacing: 0.5px;
        line-height: 26px;
        color: #282828;
        font-weight: 500;
        font-family: "Exo";
      }
      ::placeholder {
        color: rgb(121, 121, 121);
        opacity: 1; /* Firefox */
        padding-left: 10px;
      }
    }
  }
}
@media all and (max-width: 414px) {
  body {
    display: block;
  }

  .cover {
    height: 75vh;
    img {
      max-width: 100%;
      height: 100%;
    }
    .RoundedRec {
      top: 50%;
    }
    .headerText {
      top: 30%;
      font-size: 25px;
    }
    .underText {
      max-width: 98%;
      top: 71%;
      left: 51%;
    }
    .play {
      top: 40%;
      left: 51%;
      width: 65px;
      height: 60px;
    }
  }
  .section2 {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-bottom: 0px;
    .section2Photo {
      width: 0%;
      display: none;
    }
    .section2Desc {
      max-width: 95%;
      padding: 10px;
      margin-left: 0px;
      margin-top: 30px;

      .newDesign {
        max-width: 90%;
      }
      .thereIs {
        max-width: 90%;
      }
      .paragraph {
        max-width: 90%;
      }
    }
  }
  .section3 {
    height: 100%;
    width: 100%;

    margin: 0px;
    padding: 0px;
    .mac {
      float: none;
      img {
        max-width: 100%;
      }
    }
    .section3Desc {
      float: none;
      width: 95%;
      margin: 0px;
      padding: 2px;

      .newDesign {
        width: 100%;
      }
      .responsive {
        width: 100%;
        padding: 0;
      }
      .section3Desc {
        width: 100%;
      }
    }
  }
  .section4 {
    background-color: #f6f5f3;
    .image {
      img {
        max-width: 100%;
        height: 100vh;
      }
    }

    .avatar {
      left: 43%;
      width: 100%;
      height: 1200px;
      margin-top: 0;
      text-align: center;
      line-height: 5px;
      padding-left: 0px;
      overflow: hidden;
      li {
        padding-left: 50px;
        display: inline-block;
        max-width: 34%;
      }
      h2 {
        font-size: 16px;
      }
      p {
        display: none;
      }
    }
    .partnerLogo {
      left: 54%;
      max-width: 90%;
      margin: 0px;
      height: 500px;
      text-align: start;
      padding-left: 0px;

      li {
        display: inline-block;
      }
    }
  }
  .section5 {
    width: 100%;

    .section5-content {
      height: 100%;
      max-width: 100%;
      padding-right: 50px;
      img,
      h4 {
        width: 100%;
        height: 100%;
        padding-top: 0px;
      }
      h3 {
        margin-top: 0px;
        padding-top: 30px;
        font-size: 16px;
      }

      h6 {
        font-size: 16px;

        max-width: 100%;
        margin-left: 0px;
      }
    }
  }
  .section6 {
    width: 100%;
    height: 100%;
    .section6Content {
      height: 100%;
      width: 100%;

      h3 {
        width: 100%;
        font-size: 20px;
      }
      .days30 {
        float: right;
        padding-right: 70px;
        padding-top: 30px;
      }

      ul {
        padding-top: 90px;
        list-style: none;
        align-items: center;
        li {
          padding-bottom: 20px;
          display: inline;
          padding-left: 20px;

          button {
            width: 263px;
          }
        }
      }
    }
  }
  .section7 {
    width: 100%;
    height: 100%;
    .footer {
      margin: 50px;
      padding-left: 0px;
      height: 100%;
      li {
        display: inline-block;
        width: 100%;
        .social {
          padding-top: 10px;
          padding-left: 0px;
          padding-bottom: 15px;
        }
        input {
          width: 80%;
        }
      }
    }
  }
}
@media all and (max-width: 320px) {
  body {
    display: block;
  }

  .cover {
    height: 75vh;
    img {
      max-width: 100%;
      height: 100%;
    }
    .RoundedRec {
      top: 50%;
    }
    .headerText {
      top: 30%;
      font-size: 25px;
    }
    .underText {
      max-width: 98%;
      top: 74%;
      left: 51%;
    }
    .play {
      top: 38%;
      left: 51%;
      width: 65px;
      height: 60px;
    }
  }
  .section2 {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-bottom: 0px;
    .section2Photo {
      width: 0%;
      display: none;
    }
    .section2Desc {
      max-width: 95%;
      padding: 10px;
      margin-left: 0px;
      margin-top: 30px;

      .newDesign {
        max-width: 90%;
      }
      .thereIs {
        max-width: 90%;
      }
      .paragraph {
        max-width: 90%;
      }
    }
  }
  .section3 {
    height: 100%;
    width: 100%;

    margin: 0px;
    padding: 0px;
    .mac {
      float: none;
      img {
        max-width: 100%;
      }
    }
    .section3Desc {
      float: none;
      width: 90%;
      margin: 0px;
      padding: 2px;

      .newDesign {
        width: 100%;
      }
      .responsive {
        width: 100%;
        padding: 0;
      }
      .Desc3 {
        width: 100%;
      }
    }
  }
  .section4 {
    background-color: #f6f5f3;
    .image {
      img {
        max-width: 100%;
        height: 100vh;
      }
    }

    .avatar {
      left: 43%;
      width: 100%;
      height: 1130px;
      margin-top: 0;
      text-align: center;
      line-height: 5px;
      padding-left: 0px;
      overflow: hidden;
      li {
        padding-left: 50px;
        display: inline-block;
        max-width: 34%;
      }
      h2 {
        font-size: 16px;
      }
      p {
        display: none;
      }
    }
    .partnerLogo {
      left: 54%;
      max-width: 90%;
      margin: 0px;
      height: 500px;
      text-align: start;
      padding-left: 0px;

      li {
        display: inline-block;
      }
    }
  }
  .section5 {
    width: 100%;

    .section5-content {
      height: 100%;
      max-width: 100%;
      padding-right: 50px;
      img,
      h4 {
        width: 100%;
        height: 100%;
        padding-top: 0px;
        font-size: 14px;
      }
      h3 {
        width: 100%;
        margin-top: 0px;
        padding-top: 30px;
        font-size: 16px;
        letter-spacing: 0px;
      }

      h6 {
        font-size: 16px;

        max-width: 100%;
        margin-left: 0px;
      }
    }
  }
  .section6 {
    width: 100%;
    height: 100%;
    .section6Content {
      height: 100%;
      width: 100%;

      h3 {
        width: 100%;
        font-size: 20px;
      }
      .days30 {
        float: right;
        padding-right: 50px;
        padding-top: 30px;
      }

      ul {
        padding-top: 90px;
        list-style: none;
        align-items: center;
        li {
          padding-bottom: 20px;
          display: inline;
          padding-left: 0px;

          button {
            width: 263px;
          }
        }
      }
    }
  }
  .section7 {
    width: 100%;
    height: 100%;
    .footer {
      margin: 50px;
      padding-left: 0px;
      height: 100%;
      li {
        display: inline-block;
        width: 100%;
        .social {
          padding-top: 10px;
          padding-left: 0px;
          padding-bottom: 15px;
        }
        input[type="text"] {
          width: 150px;
          height: 50px;
          padding-right: 50px;
          border-radius: 3px;
          border: none;
          background-color: rgba(141, 141, 141, 0.2);
        }

        input[type="image"] {
          margin-left: -50px;
          margin-bottom: -23px;
          margin-top: 1rem;
          width: 52px;
          height: 50px;
          border-radius: 3px;
          filter: drop-shadow(0px 3px 1.5px rgba(14, 15, 15, 0.25));
          background-color: #ff6d6d;
          border: 1px solid #ff6d6d;
          -webkit-appearance: none;
        }
      }
    }
  }
}
